@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif !important;
    background-color: azure;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: azure !important;
    border-color: rgb(208, 255, 255);
    color: #212529;
}
ul{
    margin-bottom: 0;
}