@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif !important;
    background-color: azure;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(220, 255, 255) !important;
    border-color: rgb(151, 255, 255);
    color: #212529;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: rgb(239, 245, 245) !important;
    border-color: rgb(211, 211, 211);
    color: #212529;
}



ul{
    margin-bottom: 0;
}


.crow:hover{
    cursor: pointer;
    background-color: lightcyan;
}

.comment{
    background-color: lightcyan;
}

table{
    table-layout: fixed;
}

td{
    word-wrap:break-word
}